:root {
  --color-483499: #483499;
  --color-000000: #000000;
  --color-6648DC: #6648DC;
  --color-6B7280: #6B7280;
  --color-9CA3AF: #9CA3AF;
  --color-E0E7FF: #E0E7FF;
  --color-E5E7EB: #E5E7EB;
  --color-E8F8F0: #E8F8F0;
  --color-F3F4F6: #F3F4F6;
  --color-FFFFFF: #FFFFFF;
  --color-1F2937: #1F2937;
  --color-4B5563: #4B5563;
}